//top blue thin banner
.block-banner {
    position: relative;
    height: 110px;
    background: #c4e8f7;

    .block-banner__close {
        position: absolute;
        right: 10px;
        top: 5px;
        font-size: 12px;
        color: #4e4e4e;
        cursor: hand;
        cursor: pointer;
        z-index: 2;

        span {
            margin-left: 3px;
            font-size: 16px;
        }
    }

    &.block-banner_subscribe {

        .block-banner__content {
            position: relative;
            max-width: 450px;
            height: 100%;
            margin: 0 auto;
            cursor: hand;
            cursor: pointer;
    
            .block-banner__image {
                position: absolute;
                bottom: -2px;
                width: 128px;
                height: 100%;
                background: url('../images/articles/banner.png') center no-repeat;
            }
        }

        .block-banner__text {
            position: absolute;
            left: 140px;
            top: 18px;
            font-size: 22px;
            text-decoration: none;
            color: #000;

            span {
                color: #000;
                text-decoration: underline;
            }
        }

        @media screen and (max-width: $mobile-width) {
            .block-banner__text {
                top: 32px;
                font-size: 16px;

            }
        }

        @media screen and (max-width: $mobile-width-small) {
            .block-banner__text {
                top: 38px;
                font-size: 14px;
            }
        }
    }
}