/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/storage/settings.json
/_ide_helper.php
/_ide_helper_models.php
/.phpstorm.meta.php
/resources/assets/vendor/metronic_5061/tools/node_modules
/public/backup/
/public/cache/*
/public/mix-manifest.json
/public/upload/*
/public/uploads/
/resources/lang/en/*
/resources/lang/ru/*
/resources/lang/ua/*
/storage/debugbar/
