$navigation-bar-height: 97px;
$prozorro-color: #066f93;
$footer-height: 170px;
$document-types: 'document' 'presentation' 'video' 'audio' 'pdf';
$share-links: 'fb', 'twitter', 'google', 'more';


$mobile-width: 1023px;
$mobile-width-small: 400px;
$mobile-width-aside: 900px;