
/********************стили для блока у которого слева полоса******************/
//(<div class="block_callout"><div class="bs-callout bs-callout-danger"><h4>title</h4><p>text</p></div></div>)
.block_callout_bg {
  .bs-callout {
    padding: 20px;
    margin: 0px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;

    h4 {
      margin-top: 0;
      color:#333;
      margin-bottom: 5px;
    }
    p:last-child {
      margin-bottom: 0;
    }
    code, .highlight {
      background-color: #fff;
    }
  }
  .bs-callout-default {background-color: #f9f9f9; border-color: #ccc;}
  .bs-callout-primary {background-color: #f1f9ff; border-color: #6ca5d6;}
  .bs-callout-success {background-color: #f7fff7; border-color: #7eca7e;}
  .bs-callout-danger {background-color: #fcf2f2; border-color: #dFb5b4;}
  .bs-callout-warning {background-color: #fefbed; border-color: #f1e7bc;}
  .bs-callout-info {background-color: #f5fafb; border-color: #5bc0de;}
}
.block_callout {
  .bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;

    h4 {
      margin-top: 0;
      margin-bottom: 5px;
    }
    p:last-child {
      margin-bottom: 0;
    }
    code {
      border-radius: 3px;
    }
    .bs-callout+.bs-callout {
      margin-top: -5px;
    }
  }

  .bs-callout-default {border-left-color: #777; h4 {color: #777;}}
  .bs-callout-primary {border-left-color: #428bca; h4 {color: #428bca;}}
  .bs-callout-success {border-left-color: #5cb85c; h4 {color: #5cb85c;}}
  .bs-callout-danger {border-left-color: #d9534f; h4 {color: #d9534f;}}
  .bs-callout-warning {border-left-color: #f0ad4e; h4 {color: #f0ad4e;}}
  .bs-callout-info {border-left-color: #5bc0de; h4 {color: #5bc0de;}}
}