//show spin loading
#overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(255,255,255,0.5);

  .fa, svg {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    font-size: 50px;
    color: #333;
    opacity: 0.2;
  }
}

.img-fluid {
  max-width: 100%;
}