@font-face {
  font-family: 'play_regular';
  src: url('../fonts/Play-Regular.ttf') format('truetype'), url('../fonts/Play-Regular.woff') format('woff'), url('../fonts/Play-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'play_bold';
  src: url('../fonts/Play-Bold.woff') format('woff'), url('../fonts/Play-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu_light';
  src: url('../fonts/Ubuntu-Light.ttf') format('truetype'), url('../fonts/Ubuntu-Light.woff') format('woff'), url('../fonts/Ubuntu-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu_regular';
  src: url('../fonts/Ubuntu-Regular.woff') format('woff'), url('../fonts/Ubuntu-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu_medium';
  src: url('../fonts/Ubuntu-Medium.woff') format('woff'), url('../fonts/Ubuntu-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu_light_italic';
  src: url('../fonts/Ubuntu-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'verdana';
  src: url('../fonts/Verdana.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'georgia';
  src: url('../fonts/Georgia.woff') format('woff'), url('../fonts/Georgia.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}