
@import "variables";
@import "layout";
@import "fonts";
@import "forms";
@import 'mixins';
@import "additionally";
@import "print";
@import "transition";
@import "wising_editor";
@import "styles";
@import "icons";

//site all files
@import "site/**/*.scss";

body {
  margin: $navigation-bar-height 0 0 0;
  font-family: 'play_regular', sans-serif;
}

:focus {
  outline: 0;
}

.link-to {
  cursor: hand;
  cursor: pointer;
}