@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('/landing/yak/fonts/MyriadPro-Regular.eot');
	src: url('/landing/yak/fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('/landing/yak/fonts/MyriadPro-Regular.woff2') format('woff2'),
	url('/landing/yak/fonts/MyriadPro-Regular.woff') format('woff'),
	url('/landing/yak/fonts/MyriadPro-Regular.ttf') format('truetype'),
	url('/landing/yak/fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'pfdintextcomppro-bold';
	src: url('/landing/yak/fonts/pfdintextcomppro-bold.eot');
	src: url('/landing/yak/fonts/pfdintextcomppro-bold.eot?#iefix') format('embedded-opentype'),
	url('/landing/yak/fonts/pfdintextcomppro-bold.woff2') format('woff2'),
	url('/landing/yak/fonts/pfdintextcomppro-bold.woff') format('woff'),
	url('/landing/yak/fonts/pfdintextcomppro-bold.ttf') format('truetype'),
	url('/landing/yak/fonts/pfdintextcomppro-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'pfdintextcondpro-bold';
	src: url('/landing/yak/fonts/pfdintextcondpro-bold.eot');
	src: url('/landing/yak/fonts/pfdintextcondpro-bold.eot?#iefix') format('embedded-opentype'),
	url('/landing/yak/fonts/pfdintextcondpro-bold.woff2') format('woff2'),
	url('/landing/yak/fonts/pfdintextcondpro-bold.woff') format('woff'),
	url('/landing/yak/fonts/pfdintextcondpro-bold.ttf') format('truetype'),
	url('/landing/yak/fonts/pfdintextcondpro-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'pfdintextcondpro-light';
	src: url('/landing/yak/fonts/pfdintextcondpro-light.eot');
	src: url('/landing/yak/fonts/pfdintextcondpro-light.eot?#iefix') format('embedded-opentype'),
	url('/landing/yak/fonts/pfdintextcondpro-light.woff2') format('woff2'),
	url('/landing/yak/fonts/pfdintextcondpro-light.woff') format('woff'),
	url('/landing/yak/fonts/pfdintextcondpro-light.ttf') format('truetype'),
	url('/landing/yak/fonts/pfdintextcondpro-light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

a{
	text-decoration: none;
}

.infobox-container {
	width: 100%;
	color: #fff;
	overflow: hidden;
}



.infobox-block {
	position: relative;
	background: #085466;
	width: 100%;
}

.infobox-block-homescreen {
	/*min-height: 800px;*/
	/*padding-top: 75px;*/
	/*padding-bottom: 30px;*/
	/*margin-bottom: 275px;*/
	/*padding-top: 9.375vh;*/
	/*padding-bottom: 3.75vh;*/
	margin-bottom: 165px;
	height: 100vh;
	min-height: 600px;
}

/*.infobox-container .container {
	max-width: 1100px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 2;
	text-align: center;
}
*/
.infobox-container .container {
	max-width: 1100px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 2;
	text-align: center;
}

.infobox-block-homescreen .container {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	justify-content: space-around;
}

.homescreen-figure {
	position: absolute;
	z-index: 1;
}

.homescreen-figure img {
	max-width: 1000px;
	width: 100%;
}

.homescreen-figure-one {
	/*top: -170px;*/
	top: -12vw;
	/*left: -220px;*/
	left: -15%;
	max-width: 714px;
	width: 50%;

}
.homescreen-figure-two {
	/*top: -118px;*/
	top: -8.5vw;
	/*right: -215px;*/
	right: -15%;
	max-width: 680px;
	width: 45%;
}
.homescreen-figure-three {
	/*left: 90px;*/
	left: 6%;
	bottom: -70px;
	max-width: 338px;
	width: 24%;
}

.homescreen-figure-four {
	bottom: -144px;
	/*right: -240px;*/
	right: -21%;
	max-width: 627px;
	width: 44%;
}

.infobox-logo {
	margin-left: auto;
	margin-right: auto;
}

.infobox-title {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 200px;
	border: 9px solid #2a8a97;
	/*margin-top: 65px;*/
	font-size: 108px;
	font-family: 'pfdintextcomppro-bold';
	text-transform: uppercase;
}

.infobox-stats {
	/*margin-top: 55px;*/
	width: 100%;

}

.infobox-stats-title {
	text-align: center;
	font-size: 23px;
	line-height: 23px;
	font-family: 'pfdintextcomppro-bold';
	text-transform: uppercase;
	padding-right: 50px;
	letter-spacing: 1.5px;
}

.infobox-stats-body {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
	width: 100%;
}

.infobox-stats-item {
	position: relative;
	padding-right: 54px;
	font-family: 'pfdintextcondpro-light';
	font-size: 17px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 1px;
}

.infobox-stats-item:after {
	display: block;
	content: '';
	width: 46px;
	height: 46px;
	background: url(/landing/yak/img/arrow-right.png) center center no-repeat;
	position: absolute;
	top: 7px;
	right: 0;
}

.infobox-stats-item span {
	font-family: 'pfdintextcomppro-bold';
	font-size: 23px;
	line-height: 26px;
}



.infobox-button-container {
	background: #70B3BC;
	border-radius: 10px;

}

.infobox-button {
	font-size: 37px;
	color: #193D4F;
	font-family: 'pfdintextcomppro-bold';
	line-height: 76px;
	padding: 0 40px;
	border: 0;
	border-radius: 6px;
	background: #fff;
	text-transform: uppercase;
	position: relative;
	top: -5px;
	left: -5px;
	cursor: pointer;
	display: block;
	text-decoration: none;
}


.infobox-block-homescreen .infobox-button-container {
	/*margin-top: 80px;*/
	display: inline-block;
}

.down-cursor {
	/*margin: 40px auto 0;*/
	display: block;
}

.block-figure-left {
	position: absolute;
	left: -15px;
	top: -41px;
}

.infobox-description-item {
	padding: 46px 0;
	height: 20vh;
	display: flex;
	align-items: center;
	/*margin-bottom: 200px;*/
	/*margin-bottom: 120px;*/
}
.infobox-description-item:not(:last-child) {
	/*margin-bottom: 200px;*/
	margin-bottom: 7vh;
}

.infobox-description-item .container {
	display: flex;
	justify-content: space-between;
}

.infobox-description-title {
	font-size: 37px;
	line-height: 28px;
	font-family: 'pfdintextcomppro-bold';
	position: relative;
	/*padding-bottom: 46px;*/
	width: auto;
	max-width: calc(100% - 81px);
}

/*.infobox-description-title:after {
	display: block;
	content: '';
	width: 46px;
	height: 46px;
	background: url(/landing/yak/img/arrow-down.png) center center no-repeat;
	bottom: 0px;
	right: 0px;
	position: absolute;

}*/

.infobox-description-item .infobox-button-container {
	margin-top: 5px;
}

.block-figure-line {
	position: absolute;
	z-index: 1;
}

.infobox-description-item-one .block-figure-line {
	top: 0;
	left: 125px;
}

.infobox-description-item-two .block-figure-line {
	top: 0;
	left: 60%;
}

.infobox-description-item-three .block-figure-line {
	top: -35px;
	right: 4%;
}

.infobox-description-item-four .block-figure-line {
	top: -12px;
	left: 43%;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.infobox-title {
		font-size: 78px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.infobox-title {
		font-size: 65px;
	}
	.infobox-block-homescreen {
		margin-bottom: 175px;
	}

	.infobox-button {
		padding: 0 20px;
	}

	.infobox-description-title {
		line-height: 37px;
		max-width: calc(100% - 205px);
		text-align: left;
		padding-bottom: 0;
	}
	.infobox-description-title:after {
		right: -46px;
		position: absolute;
		top: 10px;

	}
	.infobox-description-item {
		margin-bottom: 100px;
	}



}


@media screen and (max-width: 767px) {
	.infobox-block-homescreen {
		padding-top: 30px;
		margin-bottom: 15vh;
	}


	.infobox-title {
		font-size: 40pt;
		margin-top: 30px;
	}
	.infobox-stats-title {
		padding-right: 0;
	}
	.infobox-stats-body {
		display: block;
	}
	.infobox-stats-item {
		display: inline-block;
		margin-right: 50px;
		margin-left: 50px;
	}
	.infobox-stats-item:not(:last-child) {
		margin-bottom: 30px;
	}
	.homescreen-figure-two {
		top: 0;
	}
	.homescreen-figure-three {
		bottom: -20px;
	}
	.homescreen-figure-four {
		bottom: -24px;
	}
	.infobox-button {
		font-size: 27px;
		padding: 0 20px;
	}
	.infobox-description-item .container {
		flex-direction: column;
	}

	.infobox-description-item .infobox-button-container {
		max-width: 108px;
		align-self: flex-end;
	}

	.infobox-description-title {
		font-size: 26px;
		padding-bottom: 30px;
		width: auto;
		max-width: 100%;
		text-align: left;
	}
	.infobox-description-title::after {
		bottom: -60px;
		right: 130px;
	}
	.infobox-description-item {
		padding: 15px 0;
		margin-bottom: 15vh;
	}


}





@media screen and (max-width: 500px) {


	.infobox-stats-item {
		margin-right: 20px;
		margin-left: 20px;
	}

}