.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
  background: rgba(255, 255, 255, 0.7);

  .modal__dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    max-width: 900px;
    //max-height: 500px;
    margin: auto;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    background: white;
    z-index: 999;
    transform: translate(-50%, -50%);

    //&:before {
    //    content: '';
    //    position: fixed;
    //    left: -50%; right: 0; top: 0; bottom: 0;
    //    margin: auto;
    //    width: 100vw;
    //    height: 100vh;
    //    background: rgba(255, 255, 255, 0.7);
    //    z-index: -1;
    //}

    .dialog__container {
      position: relative;
      //overflow: auto;
      text-align: center;

      .modal__close {
        position: absolute;
        right: -25px;
        top: -10px;
        font-size: 16px;
        color: rgb(197, 197, 197);
        cursor: pointer;

        &:hover {
          color: rgb(148, 148, 148);
        }
      }

      .modal__title {
        text-align: center;
        font-size: 22px;
        padding: 20px 0;
      }

      .modal__description {
        padding: 0px 90px;
        font-family: 'verdana';
        font-size: 14px;
      }
    }
  }

  &.m-subscription {

    .dialog__container {

      .modal__options {
        max-width: 400px;
        margin: 0px auto 0 auto;
        text-align: left;

        .option__item {
          margin: 20px 0;

          .item__description {

            > div {

              &:first-of-type {
                font-size: 18px;
              }

              &:last-of-type {
                padding-left: 26px;
                padding-top: 4px;
                font-style: italic;
                font-size: 14px;
              }

              &.blue {
                color: #396f8e;
              }

              &.green {
                color: #2c5628;
              }

              &.orange {
                color: #ff8400;
              }
            }
          }
        }

        input {
          float: left;
          margin-right: 10px;
          transform: scale(1.2);

        }
      }

      .form-content {
        .form-content-first {

        }

        .form-content-last {
          display: none;

          .message {
            padding: 100px 50px;
            font-size: 25px;
            text-align: center;
            color: #0072bc;
          }
        }
      }

      button {
        margin: 20px 0 20px 0;
      }
    }
  }

  &.modal-window_image-zoom {
    .modal__dialog {
      max-width: 1300px;
    }

    .modal__container {

    }

    .modal-window__image-zoom {
      img {
        max-width: 80vw;
        //max-width: 1100px;
        //
        //@media screen and (max-width: 1280px) {
        //  max-width: 900px;
        //}
        //
        //@media screen and (max-width: 1024px) {
        //  max-width: 100%;
        //}
      }
    }
  }
}