.p-courses {
    main {
        display: flex;
        //padding: 40px 40px 50px 90px;
        background: rgba(245,245,245,.35);

        .content {
            flex-grow: 1;
        }

        aside {
            margin-left: 60px;
            padding-right: 60px;
            padding-top: 20px;
            background: white;
            animation-duration: 0.2s !important;
            border-left: 1px solid #e5e5e5;

            @media screen and (max-width: $mobile-width-aside) {
                display: none;
                top: 0;
                left: 0;
                right: initial;
                padding-top: 30px;
                padding-right: 0;
                box-shadow: 0 8px 16px -7px rgba(0, 0, 0, 0.3);
                animation-duration: 0.2s !important;
            }
        }

        .courses__more-button {
            display: block;
            margin: 40px auto 20px auto;
        }

        @media screen and (max-width: $mobile-width-aside) {
            width: 100%;
            padding: 30px;
            margin: 0;
            box-sizing: border-box;
        }
    }
}

